# Gradle
build/
.gradle/
!gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Operating System
*.swp
*~
.DS_Store

# Logs
*.log

# Java
*.class
*.jar
*.war
*.ear

# Others
*.jks


